# Terraform state
*.tfstate
*.tfstate.*
.terraform/

# Terraform variable files
terraform.tfvars
*.tfvars

# Crash logs
crash.log
crash.*.log

# Sensitive override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json